{
  "singleQuote": true,
  "semi": false,
  "printWidth": 80,
  "quoteProps": "consistent",
  "rangeStart": 0,
  "requirePragma": false,
  "insertPragma": false,
  "htmlWhitespaceSensitivity": "strict",
  "useTabs": false,
  "bracketSpacing": true,
  "trailingComma": "all",
  "proseWrap": "preserve",
  "arrowParens": "always",
  "endOfLine": "lf"
}
