.otp-input {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  font-size: 20px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid rgba(black, 0.24);
  outline: none;
  transition: border-color 0.36s cubic-bezier(0.4, 0, 0.2, 1);

  &:focus-visible {
    outline: none;
  }

  &:active,
  &:hover {
    border-color: rgba(black, 0.87);
  }

  &:focus,
  &:target {
    border-color: $secondary;
  }

  &.first {
    margin-left: 0;
  }
  &.last {
    margin-right: 0;
  }

  &.is-complete {
    background-color: white;
    border: 1px solid $secondary;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }

  input::placeholder {
    font-size: 15px;
    text-align: center;
    font-weight: 600;
  }

  + span {
    pointer-events: none;
  }
}
